@model OnlineShop.MMA.Areas.Admin.Models.Order.UpdateModel
@{
    ViewData["Title"] = "Order Update";
}

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Order Update</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form asp-controller="Order" asp-action="Update" method="post" class="form-horizontal" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input asp-for="IdOrder" type="hidden" />
                        <div class="card-header">
                            <h5 class="card-title"></h5>
                            <h5 class="card-subtitle text-muted">The details of the order is as follows</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="BuyerUserName">Buyer UserName</label>
                                    <input asp-for="BuyerUserName" type="text" placeholder="Buyer UserName" class="form-control" pf-validation-for="BuyerUserName" pf-validationerror-class="is-invalid" pf-adderrormessage-flag=false>
                                    <div pf-validation-for="BuyerUserName" pf-validationerror-class="invalid-feedback" pf-adderrormessage-flag=true></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="OrderDateTime">Order DateTime</label>
                                    <input asp-for="OrderDateTime" type="text" placeholder="Order DateTime" class="form-control" pf-validation-for="OrderDateTime" pf-validationerror-class="is-invalid" pf-adderrormessage-flag=false>
                                    <div pf-validation-for="OrderDateTime" pf-validationerror-class="invalid-feedback" pf-adderrormessage-flag=true></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="OrderStatus">Order Status</label>
                                    <input asp-for="OrderStatus" type="text" placeholder="Order Status" class="form-control" pf-validation-for="OrderStatus" pf-validationerror-class="is-invalid" pf-adderrormessage-flag=false>
                                    <div pf-validation-for="OrderStatus" pf-validationerror-class="invalid-feedback" pf-adderrormessage-flag=true></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="card-footer">
                            <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-primary">Back</a>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>