@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model OnlineShop.MMA.Areas.Admin.Models.Cart.DetailModel
@{
    ViewData["Title"] = "Cart Detail";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Cart Detail</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"></h5>
                        <h5 class="card-subtitle text-muted">The details of the cart is as follows</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="BuyerUserName">Buyer UserName</label>
                                <input asp-for="BuyerUserName" type="text" class="form-control" disabled="disabled">
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="DiscountVoucher">Description</label>
                                <input asp-for="DiscountVoucher" type="text" class="form-control" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a asp-area="Admin" asp-controller="Cart" asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"></h5>
                        <h5 class="card-subtitle text-muted">Shipping legs are as follows</h5>
                    </div>
                    <div class="card-body">
                        <table id="datatables-basic" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id CartItem</th>
                                    <th>Cart Id</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th data-orderable="false">Operations</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $("#datatables-basic").DataTable({
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/Admin/CartItem/GetCartItems",
                    "type": "POST",
                    "datatype": "json",
                    'beforeSend': function (request) {
                        request.setRequestHeader("RequestVerificationToken",
                            document.getElementById("RequestVerificationToken").value);
                    },
                    'data': {
                        parentId: '@Model.IdCart'
                    }
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false,
                    }],
                "order": [[0, 'desc']],
                "columns": [
                    { "data": "idCartItem", "name": "IdCartItem", "autoWidth": true },
                    { "data": "cartId", "name": "CartId", "autoWidth": true },
                    { "data": "productName", "name": "ProductName", "autoWidth": true },
                    { "data": "quantity", "name": "Quantity", "autoWidth": true },
                    { "data": "price", "name": "Price", "autoWidth": true },
                    {
                        "render": function (data, type, row) {
                            return `<a href="/Admin/Cart/${row.cartId}/CartItem/Detail/${row.idCartItem}">
                                        <i class='align-middle mr-2 far fa-fw fa-list-alt'> </i>
                                    </a>`
                        }
                    },
                ]
            });
        });
    </script>
</main>
