@model OnlineShop.MMA.Areas.Admin.Models.Cart.UpdateModel
@{
    ViewData["Title"] = "Cart Update";
}

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Cart Update</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form asp-controller="Cart" asp-action="Update" method="post" class="form-horizontal" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input asp-for="IdCart" type="hidden" />
                        <input asp-for="BuyerUserName" type="hidden" />
                        <div class="card-header">
                            <h5 class="card-title"></h5>
                            <h5 class="card-subtitle text-muted">The details of the cart is as follows</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="BuyerUserName">Buyer UserName</label>
                                    <input asp-for="BuyerUserName" type="text" class="form-control" disabled="disabled">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Discount</label>
                                    <select asp-for="DiscountId" class="form-control select2"
                                            pf-validation-for="DiscountId" pf-validationerror-class="is-invalid" pf-adderrormessage-flag=false
                                            asp-items="@Model.DiscountSelectListItems">
                                    </select>
                                    <div pf-validation-for="DiscountId" pf-validationerror-class="invalid-feedback" pf-adderrormessage-flag=true></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="card-footer">
                            <a asp-area="Admin" asp-controller="Cart" asp-action="Index" class="btn btn-primary">Back</a>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>