@{
    ViewData["Title"] = "Home Page";
}

<div id="airlineApiResultsPlaceholder" class="card">
    <div class="card-header">
        <h1>Available Flights</h1>
    </div>
</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/available-flights-hub.js"></script>