@* @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    ViewData["Title"] = "Payment History";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Payment History</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatables-basic" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Buyer UserName</th>
                                    <th>BankAccount Number</th>
                                    <th>Payment DateTime</th>
                                    <th>Payment Value</th>
                                    <th data-orderable="false">Operations</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                $("#datatables-basic").DataTable({
                    "responsive": true,
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "ajax": {
                        "url": "/Admin/PaymentHistory/GetPaymentHistories",
                        "type": "POST",
                        "datatype": "json",
                        'beforeSend': function (request) {
                            request.setRequestHeader("RequestVerificationToken",
                                document.getElementById("RequestVerificationToken").value);
                        }
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                    }],
                    "order": [[0, "desc"]],
                    "columns": [
                        { "data": "idPaymentHistory", "name": "IdPaymentHistory", "autoWidth": true },
                        { "data": "buyerUserName", "name": "BuyerUserName", "autoWidth": true },
                        { "data": "bankAccountNumber", "name": "BankAccountNumber", "autoWidth": true },
                        { "data": "paymentDateTime", "name": "PaymentDateTime", "autoWidth": true },
                        { "data": "paymentValue", "name": "PaymentValue", "autoWidth": true },
                        {
                            "render": function (data, type, row) {
                                return `<a href='PaymentHistory/detail/${row.idPaymentHistory}'>
                                            <i class='align-middle mr-2 far fa-fw fa-list-alt'></i>
                                        </a>`
                            }
                        },
                    ]
                });
            });
        </script>
    </div>
</main>
 *@