@{
    ViewData["Title"] = "Home Page";
}

<div id="airlineApiResultsPlaceholder" class="card">
    <div class="card-header">
        <h1>Flight Tickets</h1>
    </div>
</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/flight-tickets-hub.js"></script>