@model Website.Presentation.Areas.Admin.Models.Comment.CreateModel
@{
    ViewData["Title"] = "Comment Create";
}

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Comment Create</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form asp-area="Admin" asp-controller="Comment" asp-action="Create" method="post" class="form-horizontal" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <input asp-for="PostId" type="hidden" />
                        <input asp-for="CommentBranchId" type="hidden" />
                        <div class="card-header">
                            <h5 class="card-title"></h5>
                            <h5 class="card-subtitle text-muted">The details of the comment is as follows</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Body">Body</label>
                                <textarea asp-for="Body" type="text" placeholder="Body" class="form-control" style="height: 200px" pf-validation-for="Body" pf-validationerror-class="is-invalid" pf-adderrormessage-flag=false></textarea>
                                <div pf-validation-for="Body" pf-validationerror-class="invalid-feedback" pf-adderrormessage-flag=true></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="IsPublishable">Is Publishable</label>
                                    <div class="custom-control custom-switch">
                                        <input asp-for="IsPublishable" type="checkbox" class="custom-control-input" pf-validation-for="IsPublishable" pf-validationerror-class="is-invalid" pf-adderrormessage-flag=false>
                                        <label class="custom-control-label" for="IsPublishable">Toggle this to switch the status</label>
                                    </div>
                                    <div pf-validation-for="IsPublishable" pf-validationerror-class="invalid-feedback" pf-adderrormessage-flag=true></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="IsReviewed">Is Reviewed</label>
                                    <div class="custom-control custom-switch">
                                        <input asp-for="IsReviewed" type="checkbox" class="custom-control-input" pf-validation-for="IsReviewed" pf-validationerror-class="is-invalid" pf-adderrormessage-flag=false>
                                        <label class="custom-control-label" for="IsReviewed">Toggle this to switch the status</label>
                                    </div>
                                    <div pf-validation-for="IsReviewed" pf-validationerror-class="invalid-feedback" pf-adderrormessage-flag=true></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-area="Admin" asp-controller="Post" asp-action="Update" asp-route-id="@Model.PostId" class="btn btn-primary">Back To Update</a>
                            <a asp-area="Admin" asp-controller="Comment" asp-action="Index" asp-route-id="@Model.PostId" class="btn btn-primary">Back To Comment Index</a>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
