@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    ViewData["Title"] = "Comments";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">Comments</h1>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
                        <table id="datatables-basic" class="table table-striped table-bordered" style="width:100%">
							<thead>
								<tr>
                                    <th>Id Comment</th>
                                    <th>Post Id</th>
                                    <th>Fullname</th>
                                    <th>Email</th>
                                    <th>WebAddress</th>
                                    <th data-orderable="false">Body</th>
                                    <th>Creation DateTime</th>
                                    <th>Is Publishable</th>
                                    <th>Is Reviewed</th>
                                    <th data-orderable="false">Operations</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
         
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                $("#datatables-basic").DataTable({
                    "responsive": true,
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "ajax": {
                        "url": "/Admin/Comment/GetComments",
                        "type": "POST",
                        "datatype": "json",
                        'beforeSend': function (request) {
                            request.setRequestHeader("RequestVerificationToken",
                                document.getElementById("RequestVerificationToken").value);
                        }
                    },
                    "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false,
                    }],
                    "order": [[0, 'desc']],
                    "columns": [
                        { "data": "idComment", "name": "IdComment", "autoWidth": true },
                        { "data": "postId", "name": "PostId", "autoWidth": true },
                        { "data": "fullname", "name": "Fullname", "autoWidth": true },
                        { "data": "email", "name": "Email", "autoWidth": true },
                        { "data": "webAddress", "name": "WebAddress", "autoWidth": true },
                        { "data": "body", "name": "Body", "autoWidth": true },
                        { "data": "creationDateTime", "name": "CreationDateTime", "autoWidth": true },
                        { "data": "isPublishable", "name": "IsPublishable", "autoWidth": true },
                        { "data": "isReviewed", "name": "IsReviewed", "autoWidth": true },
                        {
                            "render": function (data, type, row) {
                                return `<a href="/Admin/Post/${row.postId}/Comment/Detail/${row.idComment}">
                                            <i class='align-middle mr-2 far fa-fw fa-list-alt'> </i>
                                        </a>
                                        <a href="/Admin/Post/${row.postId}/Comment/Update/${row.idComment}">
                                            <i class='align-middle mr-2 far fa-fw fa-edit'> </i>
                                        </a>
                                        <a href="/Admin/Post/${row.postId}/Comment/Delete/${row.idComment}">
                                            <i class='align-middle mr-2 far fa-fw fa-trash-alt'> </i>
                                        </a>
                                        <a href = '/blog/post/index/${row.postId}'>
                                            <i class='align-middle mr-2 fas fa-fw fa-arrow-right'></i>
                                        </a>`
                            }
                        },
                    ]
                });
            });
        </script>
	</div>
</main>

@*@section Scripts
{
}*@